In [7]:
import pandas as pd
import numpy as np

X = pd.read_excel('X.xlsx')
Y = pd.read_excel('Y.xlsx')

X = X.drop(['Unnamed: 0'], axis=1)
X

,age,fnlwgt,education-num,marital-status,occupation,relationship,capital-gain,hours-per-week
0,0.030671,-1.063611,1.134739,0.921634,-1.483582,-0.277805,0.148453,-0.035429
1,0.837109,-1.008707,1.134739,-0.406212,-0.790510,-0.900181,-0.145920,-2.222153
2,-0.042642,0.245079,-0.420060,-1.734058,-0.328461,-0.277805,-0.145920,-0.035429
3,1.057047,0.425801,-1.197459,-0.406212,-0.328461,-0.900181,-0.145920,-0.035429
4,-0.775768,1.408176,1.134739,-0.406212,0.595635,2.211698,-0.145920,-0.035429
...,...,...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.746039,-0.406212,1.288707,2.211698,-0.145920,-0.197409
32557,0.103983,-0.335433,-0.420060,-0.406212,-0.097437,-0.900181,-0.145920,-0.035429
32558,1.423610,-0.358777,-0.420060,2.249480,-1.483582,1.589322,-0.145920,-0.035429
32559,-1.215643,0.110960,-0.420060,0.921634,-1.483582,0.966947,-0.145920,-1.655225
32560,0.983734,0.929893,-0.420060,-0.406212,-0.790510,2.211698,1.888424,-0.035429

In [9]:
Y = Y.drop(['Unnamed: 0'], axis=1)
Y

       salary
0           0
1           0
2           0
3           0
4           0
...       ...
32556       0
32557       1
32558       0
32559       0
32560       1

[32561 rows x 1 columns]

# creating train-test split

when all categorical variables are transformed and all numerical features are normalized

we need to split our data into training and test sets. We split 80% to training and 20% for testing.

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [11]:
print("X train shape", X_train.shape)
print("X test shape", X_test.shape)
print("Y train shape", Y_train.shape)
print("Y test shape", Y_test.shape)

X train shape (26048, 8)
X test shape (6513, 8)
Y train shape (26048, 1)
Y test shape (6513, 1)

# Data modelling

# logistic regression

In [17]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [18]:
log_reg.fit(X_train, Y_train)

C:\Users\skumarra\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [19]:
y_pred_log_reg = log_reg.predict(X_test)

# KNN classifier

In [24]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier()

In [26]:
KNN.fit(X_train, Y_train)

C:\Users\skumarra\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [27]:
y_pred_knn = KNN.predict(X_test)

C:\Users\skumarra\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

# support vector classifier

In [29]:
from sklearn.svm import SVC
svc = SVC()

In [30]:
svc.fit(X_train, Y_train)

C:\Users\skumarra\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [31]:
y_pred_svc = svc.predict(X_test)

# decision tree classifier

In [32]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()

In [33]:
tree.fit(X_train, Y_train)

DecisionTreeClassifier()

In [34]:
y_pred_tree = tree.predict(X_test)

# random forest classifier

In [35]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()

In [36]:
forest.fit(X_train, Y_train)

C:\Users\skumarra\AppData\Local\Temp\ipykernel_10876\2137034824.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest.fit(X_train, Y_train)

RandomForestClassifier()

In [37]:
y_pred_forest = forest.predict(X_test)

# model evaluation

In [38]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [44]:
print("Logistic regression ")
print(accuracy_score(Y_test, y_pred_log_reg))
print(f1_score(Y_test, y_pred_log_reg))

Logistic regression
0.8200522032857362
0.5360253365003959

In [47]:
print("KNN classifier")
print(accuracy_score(Y_test, y_pred_knn))
print(f1_score(Y_test, y_pred_knn))

KNN classifier
0.8352525717795178
0.6366407043684389

In [49]:
print("support vector classifier")
print(accuracy_score(Y_test, y_pred_svc))
print(f1_score(Y_test, y_pred_svc))

support vector classifier
0.8486104713649624
0.6267978803936411

In [51]:
print("decision tree classifier")
print(accuracy_score(Y_test, y_pred_tree))
print(f1_score(Y_test, y_pred_tree))

decision tree classifier
0.8019345923537541
0.5966228893058161

In [54]:
print("random forest classifier")
print(accuracy_score(Y_test, y_pred_forest))
print(f1_score(Y_test, y_pred_forest))

random forest classifier
0.8496852448948258
0.6615969581749049